html, body, form, ol, ul, li, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
html, body, input {
  font-family: Roboto, 'Helvetica Neue', Calibri, Arial, sans-serif;
  font-size: 28px;
  font-weight: 300;
}
body {
  background: url('/assets/img/bg.jpg') #505052;
}
h1 {
  font-size: 28px;
  font-weight: 300;
}
ol, ul {
  margin-left: 55px;
}
textarea:focus, input[type="text"]:focus {
  outline: 0;
}
input[type="text"] {
  border: 0;
  padding: 0;
  width: 100%;
}
input[type="radio"] + label, .results .option {
  padding: 9px 10px;
}
@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?36294818');
  src: url('../font/fontello.eot?36294818#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?36294818') format('woff'),
       url('../font/fontello.ttf?36294818') format('truetype'),
       url('../font/fontello.svg?36294818#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-link:before { content: '\e806'; }
.icon-down-open:before { content: '\e80b'; }
.icon-up-open:before { content: '\e80c'; }
.icon-check:before { content: '\e800'; }
.icon-check-empty:before { content: '\e801'; }
.icon-circle:before { content: '\e803'; }
.icon-circle-empty:before { content: '\e802'; }
.icon-preload {
  position: absolute;
  top: -100px;
  left: -100px;
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
}
.icon-preload:before {
  content: '\e802';
}
.container {
  -webkit-box-shadow: 0px 0px 50px #222;
  -moz-box-shadow: 0px 0px 50px #222;
  box-shadow: 0px 0px 50px #222;
  min-height: 100%;
  max-width: 900px;
  margin: 0 auto;
  background: white;
  position: relative;
  padding-bottom: 120px;
  overflow: hidden;
}
.footer {
  color: #888;
  font-size: 22px;
  height: 90px;
  padding: 0 20px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
}
.footer nav {
  line-height: 120px;
}
a {
  color: #4af;
  text-decoration: none;
  transition: 0.25s;
}
a:hover {
  color: #0084f2;
}
.content {
  margin: 0 40px;
}
.header {
  line-height: 0;
  padding: 30px 0 40px 0;
}
.header img {
  vertical-align: middle;
}
.results .option .value {
  vertical-align: text-top;
}
.results .option {
  padding-left: 0;
}
.results .action {
  margin-top: 30px;
}
input[type="radio"] {
  display: none;
}
input[type="radio"] + label {
  cursor: pointer;
  display: block;
}
input[type="radio"] + label .icon {
  color: #ccc;
  margin-right: 5px;
}
input[type="radio"]:not(:disabled) + label:hover .icon {
  color: #4af;
}
input[type="radio"]:not(:disabled) + label:hover {
  color: #4af;
}
input[type="radio"]:disabled + label:hover {
  cursor: default;
}
input[type="radio"]:disabled + label {
  color: #aaa;
}
input[type="radio"] + label .icon:before {
  content: '\e802';
  margin-right: 3px;
}
input[type="radio"]:checked + label .icon:before {
  color: #4af;
  content: '\e803';
}
input[type="radio"]:checked + label {
  color: #4af;
}
input[type="checkbox"] {
  display: none;
  vertical-align: bottom;
  position: relative;
  top: -10px;
  padding: 0;
  margin: 0;
  margin-right: 15px;
}
input[type="checkbox"] + label {
  padding: 9px 0px;
  display: block;
  cursor: pointer;
}
input[type="checkbox"]:disabled + label:hover {
  cursor: default;
}
input[type="checkbox"]:disabled + label {
  color: #aaa;
}
input[type="checkbox"] + label .icon:before {
  color: #ccc;
  content: '\e801';
  margin-right: 8px;
}
input[type="checkbox"]:not(:disabled) + label:hover {
  color: #4af;
}
input[type="checkbox"]:not(:disabled) + label:hover .icon:before {
  color: #4af;
}
input[type="checkbox"]:checked + label {
  color: #4af;
}
input[type="checkbox"]:checked + label .icon:before {
  content: '\e800';
  position: relative;
  left: 2px;
  color: #4af;
}
#create-poll #title {
  margin: 0 10px 10px 0;
}
#vote-poll ol {
  margin-left: 0;
  padding-left: 0;
}
#create-poll .option {
  margin-bottom: 10px;
}
#create-poll .option li {
  margin: 18px 0;
}
#create-poll .actions {
  margin-top: 40px;
}
#create-poll .actions a {
  display: block;
  margin-bottom: 15px;
}
#vote-poll .actions {
  margin-top: 30px;
}
.results .title {
  margin-bottom: 5px;
}
#vote-poll .title, .results .votes {
  margin-bottom: 15px;
}
.results .votes {
  display: inline-block;
}
.subtitle {
  color: #888;
  font-size: 22px;
}
.comments-area {
  margin-top: 40px;
}
.comments {
  margin: 0;
  padding: 0;
  margin-top: 20px;
}
.comment {
  margin-left: 15px;
  list-style-type: none;
}
.comment .time {
  font-size: 20px;
  color: #aaa;
  display: block;
  margin-top: 2px;
}
.comment .votes {
  margin-right: 7px;
  display: inline-block;
}
.comment .votes p {
  padding: 0;
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
  color: #333;
}
.comment .votes .up, .comment .votes .down {
  width: 45px;
  display: block;
  color: #bbb;
  font-size: 22px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  left: 1px;
}
.comment .votes .up {
  top: 4px;
}
.comment .votes .down {
  top: -6px;
}
.comment .votes .up:before {
  content: '\e80c';
}
.comment .votes .down:before {
  content: '\e80b';
}
.comment:not(.voted) .votes .up:hover {
  color: #2f6;
  cursor: pointer;
}
.comment:not(.voted) .votes .down:hover {
  color: #f48;
  cursor: pointer;
}
.comment .votes .up.chosen {
  color: #2f6;
  text-shadow: 0px 0px 2px #2f6;
}
.comment .votes .down.chosen {
  color: #f48;
  text-shadow: 0px 0px 2px #f48;
}
.comment .text-time {
  display: inline-block;
  position: relative;
  top: -7px;
}
#vote-poll .options {
  list-style-type: none;
}
#vote-now {
  margin-right: 20px;
}
.action {
  text-align: center;
  text-decoration: none;
  background: #4af;
  color: #fff;
  border: 0;
  padding: 15px 30px;
  display: inline-block;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -khtml-border-radius: 5px;
  transition: 0.25s;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.action:hover, .action:focus {
  background: #0084f2;
  color: #fff;
  text-decoration: none;
  -webkit-box-shadow: 0px 0px 6px #ddd;
  -moz-box-shadow: 0px 0px 6px #ddd;
  box-shadow: 0px 0px 6px #ddd;
}
.action:focus {
  outline: 0;
}
.action:disabled {
  background: #aaa;
  cursor: default;
}
.action:disabled:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.twitter {
  background: #3cf;
}
.twitter:hover {
  background: #2be;
}
.facebook {
  background: #3b5998;
}
.facebook:hover {
  background: #2b4988;
}
.reddit {
  background: #ff4500;
}
.reddit:hover {
  background: #ef3500;
}
.sms, .email {
  background: #999;
}
.sms:hover, .email:hover {
  background: #888;
}
.share-links {
  text-align: center;
}
.share {
  width: 210px;
  margin: 20px auto;
  display: block;
}
.view-poll {
  margin-bottom: 40px;
}
.option .value {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-left: 5px;
  z-index: 1;
}
.fill {
  position: absolute;
  top: -2px;
  left: -1px;
  background: #4af;
  height: 39px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -khtml-border-radius: 3px;
  transition: width 0.7s ease;
}
.caption {
  position: relative;
  z-index: 1;
}
.stats {
  display: inline-block;
  padding-left: 5px;
  font-size: 22px;
  color: #888;
}
.notice {
  margin-top: 30px;
}
.logo {
  width: 74px;
  height: 32px;
  margin: 0 auto;
  background: url('/assets/img/logo.png') no-repeat;
}
.poll-link {
  display: block;
  color: black;
  margin-bottom: 40px;
}
.poll-link a {
  color: #4af;
  text-decoration: none;
  display: block;
  margin: 0 auto 10px auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 90%;
}
.poll-link a:hover {
  color: #0084f2;
}
#copy-link, .copied {
  font-size: 22px;
  color: #777;
}
#copy-link {
  cursor: pointer;
}
#copy-link .icon {
  margin-right: 0px;
}
#copy-link.zeroclipboard-is-hover {
  color: #222;
}
.translate {
  font-size: 22px;
  line-height: 140%;
}
.translate h1 {
  font-size: 28px;
}
.error {
  text-align: center;
}
.error h1 {
  margin: 40px 0 80px 0;
}
.error .action {
  margin-bottom: 20px;
}
#advanced-poll-options p {
  font-size: 22px;
  color: #333;
  padding: 0;
  margin: 0 0 30px 45px;
  line-height: 150%;
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 2dppx) { 
  .logo {
    background: url('/assets/img/logo@2x.png') no-repeat;
    background-size: contain;
  }
}
@media only screen and (min-width: 0em) and (max-width: 900px /* same as .container max-width */) {
  body {
    background: #505052;
  }
}
@media only screen and (min-width: 0em) and (max-width: 40em) {
  .header {
    padding: 20px 0 30px 0;
  }
  .content {
    margin: 0 15px;
  }
  #vote-now {
    margin: 0 0 20px 0;
  }
  #vote-now, #see-results, .action {
    clear: both;
    width: 100%;
  }
  ol, ul {
    margin-left: 40px;
  }
  .comment {
    margin-left: 0px;
  }
  input[type="radio"] + label {
    padding-left: 0;
    padding-right: 0;
  }
  input[type="checkbox"] + label {
    padding-left: 0;
    padding-right: 0;
  }
  #advanced-poll-options p {
    margin: 0 0 30px 0;
  }
}
