@font-face {
  font-family: 'FontAwesome';
  src: url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts/fontawesome-webfont.eot?v=4.0.3');
  src: url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body, form, ol, ul, li, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 28px;
  font-weight: 200;
}
html, body {
  height: 100%;
}
body {
  background: #f7f7f7;
}
h1 {
  font-size: 28px;
  font-weight: 200;
}
ol, ul {
  margin-left: 55px;
}
textarea:focus, input[type="text"]:focus {
  outline: 0;
}
input[type="text"] {
  border: 0;
  padding: 0;
  width: 100%;
}
input[type="radio"] {
  display: none;
}
input[type="radio"] + label {
  cursor: pointer;
  display: block;
}
input[type="radio"] + label, .results .option {
  padding: 9px 10px;
}
.container {
  min-height: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 40px;
  background: white;
}
.content {
  margin: 0 40px;
}
.header {
  line-height: 0;
  padding: 30px 0 40px 0;
}
.header img {
  vertical-align: middle;
}
.results .option {
  padding-left: 0;
}
input[type="radio"] + label .fa {
  color: #ccc;
  margin-right: 5px;
}
input[type="radio"]:not(:disabled) + label:hover .fa {
  color: #3c5;
}
input[type="radio"]:not(:disabled) + label:hover {
  color: #3c5;
}
input[type="radio"]:disabled + label:hover {
  cursor: default;
}
input[type="radio"]:disabled + label {
  color: #aaa;
}
input[type="radio"] + label .fa:before {
  content: "\f10c";
  margin-right: 3px;
}
input[type="radio"]:checked + label .fa:before {
  color: #3c5;
  content: "\f111";
}
input[type="radio"]:checked + label {
  color: #2b4;
}
#create-poll #title {
  margin: 0 10px 10px 0;
}
#vote-poll ol {
  margin-left: 0;
  padding-left: 0;
}
#create-poll .option {
  margin-bottom: 10px;
}
#create-poll .option li {
  margin: 20px 0;
}
#create-poll .actions, #vote-poll .actions {
  margin-top: 30px;
}
.results .title {
  margin-bottom: 5px;
}
#vote-poll .title, .results .votes {
  margin-bottom: 20px;
}
.results .votes {
  color: #777;
  font-size: 24px;
}
#vote-poll .options {
  list-style-type: none;
}
#vote-now {
  margin-right: 20px;
}
.action {
  text-align: center;
  text-decoration: none;
  background: #3c5;
  color: #fff;
  border: 0;
  padding: 15px 30px;
  display: inline-block;
  cursor: pointer;
  width: 210px;
}
.action:hover, .action:focus {
  background: #1b3;
  text-decoration: none;
}
.action:focus {
  outline: 1px solid #3c5;
}
.action:disabled {
  background: #aaa;
  cursor: default;
}
.twitter {
  background: #3cf;
}
.twitter:hover {
  background: #2be;
}
.facebook {
  background: #3b5998;
}
.facebook:hover {
  background: #2b4988;
}
.reddit {
  background: #ff4500;
}
.reddit:hover {
  background: #ef3500;
}
.sms, .email {
  background: #999;
}
.sms:hover, .email:hover {
  background: #888;
}
.share-links {
  text-align: center;
}
.share {
  margin: 20px auto;
  display: block;
}
.view-poll {
  margin-bottom: 40px;
}
.option .value {
  position: relative;
  display: inline-block;
  width: 100%;
  z-index: 1;
  padding: 5px 9px;
}
.fill {
  position: absolute;
  top: 0;
  left: 0;
  background: #3c5;
  height: 100%;
}
.caption {
  position: relative;
  z-index: 1;
}
.stats {
  margin-left: 10px;
  display: inline-block;
  font-size: 24px;
  color: #777;
}
.notice {
  margin-top: 20px;
}
.logo {
  width: 74px;
  height: 32px;
  margin: 0 auto;
  background: url('/assets/images/logo.png') no-repeat;
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) { 
  .logo {
    background: url('/assets/images/logo@2x.png') no-repeat;
    background-size: contain;
  }
}
@media only screen and (min-width: 0em) and (max-width: 40em) {
  .header {
    padding: 20px 0 30px 0;
  }
  .content {
    margin: 0 15px;
  }
  #vote-now {
    margin: 0 0 10px 0;
  }
  #vote-now, #see-results {
    display: block;
  }
  ol, ul {
    margin-left: 45px;
  }
}
